/*
iframe {
  max-width: 100% !important;
}*/



@media only screen and (max-width: 767px) {
  img, iframe{
    max-width: 100% !important;
  }

/*To make youtube videos take up full screen on mobile*/
  iframe{
    top:0px; 
    left:0px; 
    bottom:0px; 
    right:0px; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden; 
    z-index:999999;
  }

}

@media only screen and (min-width: 768px) {
  img, iframe{
    max-width: 65% !important;
  }

}

#getPostsImg {
  max-width: 100% !important;
}


ul {
	list-style-type:none;

}

header {
	
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#3D305E;
    z-index: 1;
    max-width: 100%;
}

header img{
  width:10%;
}

post_body img{
  max-width: 80% !important;
}

/*-------------------------------------- */
/* -------- Brand Colours -------------- */
/*-------------------------------------- */
/*Orange #E1936F;*/
/*Light Purple;#6E609A*/
/*Light Green #A2C2AD*/
/*Dark Purple #3D305E;*/

.blog-bg-orange {
    background-color: #E1936F;
}

.blog-bg-light-purple {
    background-color:#6E609A;
}

.blog-bg-light-green {
    background-color: #A2C2AD;
}

.blog-bg-dark-purple {
    background-color: #3D305E;
}


.startbtntxt {
    color: #6E609A;
}

.post-meta {
    color: white;
    background-color: #3D305E;
}

 /*   color: ;
    background-color: ;

    color: ;
    background-color: ;
}

/*-------------------------------------- */
/* -------- Category drop down --------- */
/*-------------------------------------- */
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    transition: 1s;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #6E609A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
/**/
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #00B2E3}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



@media only screen and (max-width: 767px) {

.navbar {
    display:none;
  }

.navbar.responsive {
    display:block;
  }
}

.mainbg {background-color:#F2E0BD}

/*-------------------------------------- */
/* -------- Border Brackets --------- */
/*-------------------------------------- */


.corners {
  position: relative;
  padding: 10px;
}

.top, .bottom {
  position: absolute;
  width: 10px;
  height: 10px;
}

.top {
  top: 0;
  border-top: 1px solid;
}

.bottom {
  bottom: 0;
  border-bottom: 1px solid;
}

.left {
  left: 0;
  border-left: 1px solid;
}

.right {
  right: 0;
  border-right: 1px solid;
}