{% extends "../posts/base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div>
		{% for category in categories %}
			<div>
				<h3>
					<a href={% url 'getCategory' slug=category.slug %}>
					{{ category.title }}</a>
				</h3>
				<ul>
				{% for post in category.post_set.all|slice:":3" %}
					<li><a href={% url 'getPost' slug=post.titleSlug %}>{{post.title}}</a></li> 
						- {{post.summary}}

			
						
				{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}