{% extends '../posts/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}  
  <div>
    <h2 class="flex justify-center">{{ childCat.name}}</h2>
    {% for post in posts %}
      {% if post.show_in_posts %} 
        <div class="w-auto flex justify-center"> {# To align the cards to the middle #}
          <div class="max-w-sm rounded overflow-hidden shadow-lg mb-6 my-6  ml-6">
            <a href="{% url 'getPost' parentSlug=post.category.parentSlug catSlug=post.category.catSlug postSlug=post.postSlug %}">
              <img src="{{ MEDIA.URL }} {{post.editedimage.url}}" alt="image-{{post.title}}"/>
            </a>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">   
                <a class="no-underline hover:underline" href="{% url 'getPost' parentSlug=post.category.parentSlug catSlug=post.category.catSlug postSlug=post.postSlug %}" >
                  <h3>{{post.title}}</h3>
                </a>
             </div>
              <p class="text-grey-darker text-base">
                {{post.summary}}
              </p>
            </div>
            <div class="px-6 py-4 pb-5">
              <div class="flex justify-around pb-3">
                <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">
                  {{post.author}}
                </span>

                <div class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2"> 
                    Comments: 
                      <span class="fb-comments-count" data-href="https://www.nomadpad.io/{% url 'getPost' parentSlug=post.category.parentSlug catSlug=post.category.catSlug postSlug=post.postSlug %}">
                      </span>
                </div>

                <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">{{post.pub_date}}</span>
              </div>

              <div class="flex justify-around">
                  <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">
                       <a href="{% url 'getCategory' catSlug=post.category.catSlug parentSlug=post.category.parentSlug %}" 
                          class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2" 
                          style="text-decoration:none">
                          #{{post.category}}
                       </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% endblock content %}