{% extends '../posts/base.html' %}

{% block content %}

<div>
	{{ category.title}}
	{% for post in category.post_set.all %}
				<a href={% url 'getPost' post.pk %}><h3>{{post.title}}</h3></a>
				<ul>{{post.summary}}</ul>
				<ul>Posted : {{post.pub_date}}</ul>
				<ul>
					<em>Authored by :</em>
					<a href=#>{{post.author}}</a>
				</ul>
				Comments :
				{% for comment in post.comment_set.all %}
					<ol>
						<li>{{comment.title}}</li>
						<li>{{comment.body}}</li>
						<li>{{comment.pub_date}}</li>
						<li>{{comment.author}}</li>
					</ol>	
				{% endfor %}
	{% endfor %}

</div>

{% endblock content %}