<!DOCTYPE html>
{% load static %}
{% load mptt_tags %}

<html>
<!-- / means the root of the current drive;
./ means the current directory;
../ means the parent of the current directory.
CSS / JS should be edited in posts/static (which will show up in-browser immediately), and then collect static pushes to root static (which is useful for production with static files coming from several locations)
-->

 	<head lang="en">
 		<title>Nomad Pad</title>
 		<!-- meta data -->
 		<meta charset="UTF-8" />
 		<meta property="fb:app_id" content="131897610863545"/>
 		<meta name = "viewport" content = "width=device-width, initial-scale = 1, maximum-scale=1, user-scalable = no" />
 		<!-- stylesheets -->
		<link rel="stylesheet" href="/static/css/styles.css">
		<link rel="stylesheet" href="/static/css/custom.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
		<!-- scripts -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
		<script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
		<script src="{% static "js/jquery.js" %}"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117699700-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-117699700-1');
		</script>

 	</head>
 	<body>
 	<header id="header" class="font-sans text-white md:flex">	
    		<h3 name="title" class="flex justify-between">
    			<!--<a class="no-underline 
    			hover:underline text-blue-dark" href={% url "getPosts" %}>
    				.nomadpad
   				</a>-->

   				  <a href="{% url 'getPosts' %}">
    				<img src="/media/primary_images/NPLOGO.png" class="p-2 w-1/3" />
            		</a>

  				<div class="block md:hidden p-2">
				    <button id="navbar" class="flex items-center px-3 py-2 rounded text-teal-lighter border-white-light hover:text-white hover:border-white">
				      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><a href="">
				      	Menu</a><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
				    </button>
  				</div>
   			</h3>
   			
			<nav class="md:w-3/4 pr-4 flex items-center">
		    	<ul class="md:flex md:w-full md:flex-row md:justify-end">
		    		<div id="mynavbar" class="navbar md:block md:flex">
		    		<li class="dropdown">
		    			<button class="button min-h-full dropdown dropbtn">
		    				<a class="">
		    					Destinations
		    				</a>
		    			</button>
		    			<div class="dropdown-content flex-col">
			   				{% recursetree childCats %}
					            <a href="{% url 'getCategory' parentSlug=node.parentSlug catSlug=node.catSlug %}">{{ node.name }}</a>
					            {{ children }}
					    	{% endrecursetree %}

			   			</div>	
			   		</li>
			    	<li>
			    		<button class="button min-h-full dropbtn">
			    			<a class="">
			    				One's and Zero's
			    			</a>
			    			<br>
			    			<em>Coming soon</em>
			    		</button>
			    	</li>
			    	<li>
			    		<button class="button min-h-full dropbtn">
			    			<a class="">
			    				Need Something?
			    			</a>
			    			<br>
			    			<em>Coming soon</em>
			    		</button>
			    	</li>
			    </div>	
			</ul>
		</nav>  
	</header>

		
		
<script>
			window.fbAsyncInit = function() {
			    FB.init({
			      appId      : '131897610863545',
			      cookie     : true,
			      xfbml      : true,
			      version    : 'v2.12',
// added status as per https://developers.facebook.com/docs/javascript/advanced-setup
			      status: true
			    });


			      
			    FB.AppEvents.logPageView();   
			      
			  };

			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "https://connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));
			</script>





<!-- div has content id as jquery looks for this to ensure body and
header do not intersect  -->

	    <div id="content" class="flex-wrap mainbg justify-end w-full p-6">
	  		<div>
	  		<img src="/media/primary_images/NomadPadSand.png" class="flex justify-end m-auto"/>
	  		</div>
	 	    {% block content %}
		      	
		   	{% endblock %}
	   	
	   	</div>

		
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=131897610863545&autoLogAppEvents=1';
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			</script>
			<script>
				var finished_rendering = function() {
  				console.log("finished rendering plugins");
  				var spinner = document.getElementById("spinner");
  				spinner.removeAttribute("style");
  				spinner.removeChild(spinner.childNodes[0]);
					}
				FB.Event.subscribe('xfbml.render', finished_rendering);
		</script>
	</body>
	<footer class="blog-bg-dark-purple m-auto">
		<a class="text-decoration-none text-white flex justify-center" href={% url 'privacypolicy' %} >Nomad Pad Privacy Policy
		</a>
	</footer>
</html>

