<!DOCTYPE html>
{% extends "posts/base.html" %} 
{% load static %}
{% load template_tags %}
{% block image %}
{% endblock %}


{% block content %}	
{% if latest_posts %}
	{% for post in latest_posts %}
   {% if post.show_in_posts %} 
	<div class="w-auto flex justify-center"> {# To align the cards to the middle #}
<div class="max-w-sm rounded overflow-hidden shadow-lg mb-6 my-6  ml-6">
  <a href="{% url 'getPost' slug=post.titleSlug %}">
  		<img src="{{ MEDIA.URL }} {{post.editedimage.url}}" alt="image-{{post.title}}"/>
   </a>

  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 ">		
    	      	<a class="no-underline hover:underline" href={% url 'getPost' slug=post.titleSlug %} >
			      		<h3>{{post.title}}</h3>
		      	</a>
	</div>
    <p class="text-grey-darker text-base">
      {{post.summary}}
    </p>
  </div>
  <div class="px-6 py-4 pb-5">
    <div class="flex justify-around pb-3">
      <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">
      	<a href={% url 'getAuthorPosts' slug=post.authorSlug %} style="text-decoration:none">{{post.author}}</a>
      </span>

      <div class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2"> 
          Comments: 
          <span class="fb-comments-count " data-href="https://www.nomadpad.io/{% url 'getPost' slug=post.titleSlug %}" style="text-decoration:none">
          </span>
      </div>

      <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">{{post.pub_date}}</span>
    </div>
    <div class="flex justify-around">
      <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">
      	{% for category in post.category.all %}
    			   <a href={% url 'getCategory' slug=category.slug%} class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2" style="text-decoration:none">#{{category.title}}
    				  {% if post.category.count > 1 %}
    					   {% if category.index < post.category.length %},
    				     {% endif %}
    				  {% endif %}
      			 </a>
    		{% endfor %}
    	</span>
    </div>
  </div>
</div>
</div>
  {% endif %}
 {% endfor %}
{% endif %}
{% endblock content %}
