{% extends "posts/base.html" %}
{% load static %}
{% load template_tags %}

{% block content %}
	<div class="Posts">
		<h2> Latest posts </h2>
		{% if author_posts %}
			{% for post in author_posts %}
				<a href={% url 'getPost' slug=post.titleSlug %}><h3>{{post.title}}</h3></a>
				<ul>{{post.summary}}</ul>
				<ul>Posted : {{post.pub_date}}</ul>
				
				<ul>
					<em> Found in category : </em>
					{% for category in post.category.all %}
					<a href={% url 'getCategory' slug=category.slug %}>
							{{category.title}} 
					{% endfor %}
					</a> 
				</ul>

				{% if post.comment_set.all %}
				Comments:
				{% for comment in post.comment_set.all %}
					<ol>
						<li>{{comment.title}}</li>
						<li>{{comment.body}}</li>
						<li>{{comment.pub_date}}</li>
						<li>
					</li>
					</ol>	
				{% endfor %}
			{% endif %}
		{% endfor %}
		{% endif %}

	</div>
{% endblock content %}