
{% extends "posts/base.html" %} 
{% load static %}
{% block content %}	
{% load mptt_tags %}
  {% if latest_posts %}

    <div class="hidden md:block mainbg text-center py-4 lg:px-4">
      <div class="p-2 blog-bg-light-purple items-center text-white leading-none rounded-full flex inline-flex">
    <span class="flex border rounded-full post-meta px-2 py-1 text-xs font-bold mr-3">Welcome</span>
    <p class=" font-semibold mr-2 text-left flex-auto">My journey starts <a href="#bottom" class="text-white"> here</a></p>
  </div>
</div>
	  {% for post in latest_posts %}
      {% if post.show_in_posts %} 
       
      {# This div is the entire width of the page, per card #}
  	    <div class="corners font-family-sans flex justify-center ">
        <!-- This is for the corner brackets (related to class corners above) -->
        <div class="top left"></div>
        <div class="top right"></div>
        <div class="bottom right"></div>
        <div class="bottom left"></div>
        
          <div class="w-95% md:max-w-md rounded overflow-hidden shadow-lg mb-6 my-6 m-6">
            <a data-transition="slide" href="{% url 'getPost' parentSlug=post.category.parentSlug catSlug=post.category.catSlug postSlug=post.postSlug %}">
    		      <img id='getPostsImg' src="{{ MEDIA.URL }} {{post.editedimage.url}}" alt="image-{{post.title}}"/>
            </a>
            
            <div class="px-6 blog-bg-light-purple py-4">
              <div class="font-bold text-xl mb-2 flex text-center justify-center md:flex-none">   
                <a class="no-underline hover:underline text-white " href="{% url 'getPost' parentSlug=post.category.parentSlug catSlug=post.category.catSlug postSlug=post.postSlug %}" >
                  <h3>{{post.title}}</h3>
                </a>
             </div>
              <p class="text-base text-white flex justify-center md:flex-none">
                <em>{{post.summary}}</em>
              </p>
            </div>
            <div class="hidden md:block blog-bg-light-purple px-6 py-4 pb-5">
              <div class="flex justify-around pb-3">
                <span class="align-center inline-block post-meta post-meta rounded-full px-3 py-1 text-sm font-semibold mr-2">
                  By : {{post.author}}
                </span>

                <span class="align-center inline-block post-meta post-meta rounded-full px-3 py-1 text-sm font-semibold mr-2">
                       <a href="{% url 'getCategory' catSlug=post.category.catSlug parentSlug=post.category.parentSlug %}" 
                          class="inline-block post-meta rounded-full text-sm font-semibold"
                          style="text-decoration:none">
                          #{{post.category}}
                       </a>
                </span>

                <div class="align-center inline-block post-meta post-meta rounded-full px-3 py-1 text-sm font-semibold mr-2">
                    Comments: 
                      <span class="fb-comments-count" data-href="https://www.nomadpad.io/{% url 'getPost' parentSlug=post.category.parentSlug catSlug=post.category.catSlug postSlug=post.postSlug %}">
                      </span>
                </div>

                <span class="align-center inline-block post-meta post-meta rounded-full px-3 py-1 text-sm font-semibold  mr-2">{{post.pub_date}}</span>

                
              </div>

              
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <a name="bottom"></a>
  {% endif %}

{% endblock content %}