{% extends "posts/base.html" %} 
{% load static %}
{% load template_tags %}

{% block content %}
<meta property="fb:admins" content="131897610863545"/>
<div class="flex-col w-full border font-sans p-8">
	<h3 class="text-3xl text-center pt-6">{{post.title}}</h3>
	
		<br>
		<div class="tracking-wide text-center"><em>{{post.summary}}</em></div>
		<br><br>
		{{post.body|safe}}

<br><br><br><br>
<div class="invisible text-left flex-col">	
	Posted : {{post.pub_date}}
<br>
	<em> Found in category : </em>
		{% for category in post.category.all %}
			<a href={% url 'getCategory' slug=category.slug %}>{{category.title}}</a>
		{% endfor %}
<br>		
		<em>Written by :</em>	
		<a href={% url 'getAuthorPosts' slug=post.authorSlug %}>
			{{post.author}}</a>
	
<br>
	Comments :
	<br>
	<a class="btn btn-default" href={% url 'add_comment_to_post' slug=post.titleSlug %}>Add comment</a>
	{% if post.comment_set.count %}
			{% for comment in post.comment_set.all %}
				<ol>
					<h5>{{comment.title}}</h5>
						{{comment.body}}
					<br>
					{{comment.pub_date}}
					<br>
					By - <a href={% url 'getAuthorPosts' slug=post.authorSlug %}>{{comment.author}}</a>
				</ol>	
					{% endfor %}
					{% else %}
					<h4>No comments to display</h4>
					{% endif %}
</div>

<div class="fb-login-button pr-8" data-width="100%" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>

<div class="fb-comments" data-href="https://www.nomadpad.io/{% url 'getPost' slug=post.titleSlug %}" data-width="100%" data-numposts="5"></div>
	
{% endblock %}