{% extends "posts/base.html" %} 
{% load static %}
{% load template_tags %}

{% block content %}

<div class="Posts">
	<h3>{{post.title}}</h3>
	<ul>
		<li>{{post.summary}}</li>
		<li>{{post.body}}</li>
	</ul>
	Posted : {{post.pub_date}}
	<ul>
	<em> Found in category : </em>
					
		{% for category in post.category.all %}
			<a href={% url 'getCategory' slug=category.slug %}>{{category.title}}</a>
		{% endfor %}
	</ul>
	<ul>
		<em>Written by :</em>	
		<a href={% url 'getAuthorPosts' slug=post.authorSlug %}>
			{{post.author}}</a>
		</ul>

	Comments :
	<br>
	<a class="btn btn-default" href={% url 'add_comment_to_post' slug=post.titleSlug %}>Add comment</a>
	{% if post.comment_set.count %}
			{% for comment in post.comment_set.all %}
				<ol>
					<h5>{{comment.title}}</h5>
						{{comment.body}}
					<br>
					{{comment.pub_date}}
					<br>
					By - <a href={% url 'getAuthorPosts' slug=post.authorSlug %}>{{comment.author}}</a>
				</ol>	
					{% endfor %}
					{% else %}
					<h4>No comments to display</h4>
					{% endif %}
</div>
{% endblock %}