{% extends "posts/base.html" %} 
{% load template_tags %}
{% load static %}
{% block content %}

<div class="flex-col w-full border font-sans p-8">
	<h3 class="text-3xl text-center pt-6">{{post.title}}</h3>
	
		<br>
		<div class="tracking-wide text-center"><em>{{post.summary}}</em></div>
		<br><br>
		{{post.body|safe}}

<br><br><br><br>


<div class="fb-login-button pr-8" data-width="100%" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>

<div class="fb-comments" data-href="https://www.nomadpad.io/{% url 'getPost' slug=post.titleSlug %}" data-width="100%" data-numposts="5"></div>
	
{% endblock %}